certifi==2024.7.4
charset-normalizer==3.1.0
colorama==0.4.6
idna==3.4
iniconfig==2.0.0
packaging==23.1
pluggy==1.0.0
pytest==7.3.1
python-dotenv==1.0.0
redis==4.6.0
requests==2.31.0
six==1.16.0
spotipy==2.23.0
urllib3==2.0.3
OpenAIAuth==2.0.0
characterai==0.6.0
