<!DOCTYPE html>

<link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="long boi">
  <title>Walter quiere saber tu ubicación</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
</style>
</head>
<body>

<h2>Walter quiere saber tu ubicación</h2>
<p>Walter está muy enojado, más vale que le hagas caso.</p>

<img src="https://cdn.discordapp.com/attachments/671170382010515466/720980193904164874/MRhteTwk.jpg" alt="walter" style="width:50%;">

</body>
</html>
